# Dependencies
node_modules

# Build
dist

# Environment
.env
.env*.local

# Vercel
.vercel

# Logs (Winston)
logs
*.log

# Testing
coverage

# IDE
.idea
.vscode

# OS
.DS_Store
Thumbs.db

# Temporary files
*.rar
*.zip
tsc_output.txt
